html, body { 
	height: 100%;

	background: url("../img/bg_repeat.jpg") repeat-y center center fixed;
}


#inner-content {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

header {
	padding: 2%;
}

.arrow-icon {
	width: 5%;
	margin: 5% auto;
	display: block;
}

#box-1 {

	line-height: 1.5;
	margin: 2% auto;
	padding: 4%;

	h3 {
		margin: 0;

	}

	h4 {
		margin: 0;
	}

	.square {
		width:21%;
		float: left;
		padding-bottom: 21%;
		box-sizing: border-box;
		margin-right: 5.333333333333333333%;
		position: relative;

		div {
			position: absolute;
			left: 2%;
			right: 2%;
			top: 10%;
			bottom: 20%;
		}
	}

	.square_last {
		width:21%;
		float: left;
		padding-bottom: 21%;
		box-sizing: border-box;
		position: relative;

		div {
			position: absolute;
			left: 2%;
			right: 2%;
			top: 10%;
			bottom: 20%;
		}
	}

	img {
		height: 25%;
		margin: auto;
	}

}

.separator {
	height: 10%;
	padding: 3% 0 1% 0;
	margin: 5% 0;

	img {
		width: 7%;
	}
}

#onion {
	margin-bottom: -7.8%;
	margin-top: -12.5%;
	width: 25%;
}

#rollator {
	width: 20% !important;
	float: left;
	position: relative;
	margin-right: -100%;
	margin-top: 12%;
}

#dog {
	width: 20% !important;
	float: right;
	position: relative;
	margin-left: -100%;
	margin-top: -18%;
}

#timeline {
	padding: 0 5%;
}


.card {
	width: 50%;
	padding: 2%;
	background-color: #fff;
	margin: auto;

	img {
		width: 30%;
		float: left;
		border-radius: 50%;
		margin-right: 10%;

	}
}

.textbox {
	width: 50%;
	margin: 0 auto;
}

#contact-details {
	position: relative;
	float: right;
	margin-left: -100%;
	margin-right: 3%;

	li {
		list-style: none;
		background-repeat: no-repeat;
		padding-left: 40px;
		text-align: left;
		margin-bottom: 1em;
	}
}

#contact-form {
	img {
		width: 5%;
	}
}

footer {
	text-align: center;
	background-color: $darkgrey;
}