aside {
  float: left;
  width: 25%;
  margin-right: 5%;
}
aside section {
  margin-bottom: 20px;
}
#slider ul {
  margin: 0;
}
#news-box {
  background: url('../img/newsbox_bg.jpg') top center no-repeat;
  border: 2px solid #78c6c9;
}
#news-box p {
  margin: 0;
  padding: 0 3%;
  text-align: right;
}
#news-box a {
  color: #027b8e;
  display: block;
  text-align: right;
  padding-right: 3%;
}
#news-box a:hover {
  color: #78c6c9;
}
main {
  text-align: justify;
  float: right;
  width: 70%;
}
