/*
VARIABLES
---------------
Setting up variables. Bringing in Colors and Spacing as well as fonts.
--------------- */
@font-face {
  font-family: 'Jocham';
  src: url("../resources/fonts/jocham/jocham-regular-webfont.eot");
  src: url("../resources/fonts/jocham/jocham-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/jocham/jocham-regular-webfont.woff") format("woff"), url("../resources/fonts/jocham/jocham-regular-webfont.ttf") format("truetype"), url("../resources/fonts/jocham/jocham-regular-webfont.svg#jochamregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arno Pro';
  src: url(../resources/fonts/arno_pro/ArnoPro-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Arno Pro';
  src: url(../resources/fonts/arno_pro/ArnoPro-Regular.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Arno Pro';
  src: url(../resources/fonts/arno_pro/ArnoPro-LightDisplay.otf) format("opentype");
  font-weight: lighter;
  font-style: normal; }
/*
BASE STYLES
---------------
Setting up the base.

- page-layout:  	  basic layout, sizes, margins, etc.
- colors: 			  color settings, font-color, background-color;
- typography:   	  everythings to do with type
- responsive_basics:  basic responsive settings

--------------- */
html, body {
  height: 100%;
  background: url("../img/bg_repeat.jpg") repeat-y center center fixed; }

#inner-content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

header {
  padding: 2%; }

.arrow-icon {
  width: 5%;
  margin: 5% auto;
  display: block; }

#box-1 {
  line-height: 1.5;
  margin: 2% auto;
  padding: 4%; }
  #box-1 h3 {
    margin: 0; }
  #box-1 h4 {
    margin: 0; }
  #box-1 .square {
    width: 21%;
    float: left;
    padding-bottom: 21%;
    box-sizing: border-box;
    margin-right: 5.333333333333333333%;
    position: relative; }
    #box-1 .square div {
      position: absolute;
      left: 2%;
      right: 2%;
      top: 10%;
      bottom: 20%; }
  #box-1 .square_last {
    width: 21%;
    float: left;
    padding-bottom: 21%;
    box-sizing: border-box;
    position: relative; }
    #box-1 .square_last div {
      position: absolute;
      left: 2%;
      right: 2%;
      top: 10%;
      bottom: 20%; }
  #box-1 img {
    height: 25%;
    margin: auto; }

.separator {
  height: 10%;
  padding: 3% 0 1% 0;
  margin: 5% 0; }
  .separator img {
    width: 7%; }

#onion {
  margin-bottom: -7.8%;
  margin-top: -12.5%;
  width: 25%; }

#rollator {
  width: 20% !important;
  float: left;
  position: relative;
  margin-right: -100%;
  margin-top: 12%; }

#dog {
  width: 20% !important;
  float: right;
  position: relative;
  margin-left: -100%;
  margin-top: -18%; }

#timeline {
  padding: 0 5%; }

.card {
  width: 50%;
  padding: 2%;
  background-color: #fff;
  margin: auto; }
  .card img {
    width: 30%;
    float: left;
    border-radius: 50%;
    margin-right: 10%; }

.textbox {
  width: 50%;
  margin: 0 auto; }

#contact-details {
  position: relative;
  float: right;
  margin-left: -100%;
  margin-right: 3%;
  width: 280px; }
  #contact-details li {
    list-style: none;
    background-repeat: no-repeat;
    padding-left: 40px;
    text-align: left;
    margin-bottom: 1em; }

#contact-form img {
  width: 5%; }

footer {
  text-align: center;
  background-color: #777777; }

#inner-content {
  background-color: #e3e3e3; }

header {
  background-color: #e90046;
  color: #fff; }

p {
  color: #777777; }

#box-1 {
  color: #fff; }
  #box-1 h3 {
    color: #4ab259; }
  #box-1 p {
    color: #fff; }
  #box-1 a .square, #box-1 a .square_last {
    background: #777777;
    transition: .5s background-color; }
  #box-1 a .square:hover, #box-1 a .square_last:hover {
    background-color: #4ab259;
    transition: .5s background-color; }

#contact-details li {
  color: #777777; }

.separator {
  background-color: #f16aa1;
  color: white; }

.pink {
  color: #f16aa1; }

.powered_by {
  color: #fff;
  transition: .5s color; }
  .powered_by a:hover {
    color: #e90046;
    transition: .5s color; }

body {
  -webkit-font-smoothing: antialiased; }

p {
  font-family: "Arno Pro";
  font-size: 1.1em; }

h1, h2, h3 {
  font-family: "Jocham"; }

header {
  text-align: right; }
  header h1 {
    font-family: "Jocham";
    margin-bottom: 0; }
  header h2 {
    font-family: "Arno Pro";
    font-weight: lighter;
    margin-top: 0; }
  header .arno {
    font-family: "Arno Pro"; }

#box-1 {
  text-align: center;
  line-height: 1.5; }
  #box-1 h3 {
    font-family: "Jocham";
    font-size: 175%;
    margin: 0; }
  #box-1 h4 {
    font-family: "Arno Pro";
    font-weight: lighter;
    font-size: 150%;
    margin: 0 0 5% 0; }
  #box-1 h5 {
    font-family: "Helvetica", Arial, sans-serif;
    margin: 5% 0; }
  #box-1 p {
    font-family: "Arno Pro";
    font-size: 1em;
    margin: 10% 0; }

.separator {
  text-align: center; }
  .separator h3 {
    font-family: "Jocham";
    font-size: 175%; }

#video h4 {
  font-family: "Arno Pro";
  font-weight: lighter;
  font-size: 150%; }

.card h4 {
  font-family: "Jocham";
  color: #777777;
  font-size: 150%;
  margin: 9% 0 0 0; }
.card h5 {
  font-family: "Arno Pro";
  font-weight: lighter;
  color: #cbcbcb;
  font-size: 125%;
  margin: 0; }

#contact-details li {
  text-decoration: none;
  font-family: Arno Pro;
  font-size: 1.2em;
  font-weight: bold; }
  #contact-details li a {
    text-decoration: none; }

.textbox {
  font-size: 1.3em; }

footer {
  font-family: Arno Pro;
  font-size: 1.2em;
  font-weight: bold; }
  footer a.various {
    text-decoration: none;
    color: #fff;
    padding: .5em;
    display: block; }
  footer .powered_by a {
    text-decoration: none;
    color: #fff;
    font-size: 0.7em; }

#contact-form {
  text-align: center;
  font-family: "Arno Pro", "Times New Roman", serif; }

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {
  width: 45%;
  background: #777777;
  padding: 10px;
  border: none;
  margin: 1%;
  font-family: "Arno Pro", "Times New Roman", serif;
  color: #fff; }

#contact-form textarea {
  height: 150px; }

#contact-form button[type="submit"] {
  background-color: #4ab259;
  border: none;
  padding: 1.5%;
  margin-top: 2%;
  color: #fff;
  font-size: 120%;
  font-family: "Jocham"; }

::-webkit-input-placeholder {
  color: #fff;
  font-family: "Arno Pro";
  font-size: 1em; }

:-moz-placeholder {
  color: #fff; }

::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

img {
  max-width: 100%; }

div {
  box-sizing: border-box; }

@media screen and (min-width: 700px) and (max-width: 1000px) {
  #box-1 img {
    height: 15%; } }
/* Smartphone */
@media screen and (max-width: 700px) {
  html, body {
    background: none; }

  .arrow-icon {
    width: 10%; }

  #box-1 .square, #box-1 .square_last {
    width: 100%;
    margin-bottom: 5%;
    padding: 50% 20% 50% 20%;
    box-sizing: border-box;
    font-size: 1.5em; }
    #box-1 .square div, #box-1 .square_last div {
      top: 15%; }

  .separator {
    padding-top: 10%; }
    .separator img {
      width: 15%; }

  .textbox {
    width: 80%;
    font-size: 1.1em; }

  #productvideo {
    width: 90%;
    height: 200px; }

  .rollover {
    display: none; }

  .card {
    width: 100%; }
    .card img {
      margin-top: 3%; }
    .card h3 {
      margin-top: 0; }

  #rollator {
    display: none; }

  #contact-details {
    float: none;
    margin: 0; }
    #contact-details ul {
      margin-right: auto;
      margin-left: auto;
      width: 50%;
      padding: 0; }
      #contact-details ul li {
        padding-left: 0; }

  #contact-form input[type="text"],
  #contact-form input[type="email"],
  #contact-form input[type="tel"],
  #contact-form input[type="url"],
  #contact-form textarea {
    width: 70%; } }
/*
SHAME SASS
---------------
CSS which is to be inserted in the correct subscss-file
--------------- */
span.rollover {
  opacity: 1;
  transition: all 0.3s;
  cursor: pointer;
  width: 210px;
  height: 158px;
  position: absolute;
  z-index: 10;
  background-color: #e90046;
  opacity: 0;
  vertical-align: middle;
  text-align: center;
  line-height: 175%;
  color: #fff;
  font-size: 5em;
  box-sizing: border-box; }

span.rollover:hover {
  opacity: .85;
  transition: all 0.3s; }
