#inner-content {
	background-color: $grey;
}



header {
	background-color: $red;
	color: #fff;
}

p {
	color: $darkgrey;
}


#box-1 {
	
	color: #fff;


	h3 {
		color: $green;
	}

	p {
		color: #fff;
	}

	a {

		.square, .square_last {
			background: $darkgrey;
			transition: .5s background-color;
		}

		.square:hover, .square_last:hover {
			background-color: $green;
			transition: .5s background-color;
		}
	}
}


#contact-details {

	li {
		color: $darkgrey;
	}
}

.separator {
	background-color: $pink;
	color: white;
}

.pink {
	color: $pink;
}

.powered_by {

	color: #fff;
	transition: .5s color;

	a:hover {
		color: #e90046;
		transition: .5s color;

	}
}