#contact-form {
	text-align: center;
	font-family: "Arno Pro", "Times New Roman", serif; 
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form input[type="url"],
#contact-form textarea {

    width: 45%;
    background: $darkgrey;
    padding: 10px;
    border: none;
    margin: 1%;
    font-family: "Arno Pro", "Times New Roman", serif;
    color: #fff;

}

#contact-form textarea {
    height: 150px;
}

#contact-form button[type="submit"] {
	background-color: $green;
    border: none;
	padding: 1.5%;
    margin-top: 2%;
	color: #fff;
	font-size: 120%;
	font-family: "Jocham";
}

::-webkit-input-placeholder {
    color:#fff;
    font-family: "Arno Pro";
    font-size: 1em;
}
:-moz-placeholder {
    color:#fff;
}
::-moz-placeholder {
    color:#fff;
}
:-ms-input-placeholder {
    color:#fff;
}