@font-face {
    font-family: 'Jocham';
    src: url('../resources/fonts/jocham/jocham-regular-webfont.eot');
    src: url('../resources/fonts/jocham/jocham-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/jocham/jocham-regular-webfont.woff') format('woff'),
         url('../resources/fonts/jocham/jocham-regular-webfont.ttf') format('truetype'),
         url('../resources/fonts/jocham/jocham-regular-webfont.svg#jochamregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Arno Pro';
    src: url(../resources/fonts/arno_pro/ArnoPro-Bold.otf) format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Arno Pro';
    src: url(../resources/fonts/arno_pro/ArnoPro-Regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arno Pro';
    src: url(../resources/fonts/arno_pro/ArnoPro-LightDisplay.otf) format('opentype');
    font-weight: lighter;
    font-style: normal;
}